/* Small Utility Selectors */
.flex-container {
  display: flex;
}

.py-20 {
  padding: 20px 0;
}

.py-10 {
  padding: 10px 0;
}

.pyb-20 {
  padding-bottom: 20px;
}

.pyb-10 {
  padding-bottom: 10px;
}
.pyl-20 {
  padding-left: 20px;
}

.my-5 {
  margin: 5px 0;
}
.my-10 {
  margin: 10px 0;
}

.my-15 {
  margin: 15px 0;
}

.my-20 {
  margin: 20px 0;
}

.myr-5 {
  margin-right: 5px;
}
.myr-10 {
  margin-right: 10px;
}

.myr-15 {
  margin-right: 15px;
}

.myb-10 {
  margin-bottom: 10px;
}

.myb-20 {
  margin-bottom: 20px;
}

.padded-content {
  padding: 35px 35px 0 35px;
}

.color-primary {
  color: rgb(19, 187, 183);
}
